@import "reset.css";
@import "variables.css";
@import "main.css";

.hidden {
    display: none;
}

body {
    width: 100%;
    height: 100vh;
    color: white;
    text-shadow: var(--main-text-shadow);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.reset {
    position: absolute;
    top: 1vh;
    left: 1vh;
}

.reset__Btn {
    font-size: 6vh;
    background-color: transparent;
    border: none;
    text-shadow: var(--main-text-shadow);
}

.quote {
    font-size: 20px;
    font-style: italic;
    text-shadow: var(--main-text-shadow);
    position: absolute;
    bottom: 1.5vh;
    left: 1.5vh;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    top: 1vh;
    right: 2vh;
}

.weather__column :last-child {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.weather__weather {
    position: relative;
    top: 6px;
    left: 9px;
}

.weather__temp {
    margin-bottom: 5px;
    font-size: 20px;
}

.weather__city {
    font-size: 16px;
}